.popup-edit__input-text {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: black;
  padding: 0 0 10px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  outline: none;
}

.popup-edit__input-text:nth-child(2) {
  margin: 30px 0 48px;
}
  
@media screen and (max-width: 550px) {
  .popup-edit__input-text {
    max-width: 238px;
  }
}

@media screen and (max-width: 550px) {
  .popup-edit__input-text:nth-child(2) {
    margin: 30px 0 45px;
  }
}

